<%= form_for [:admin, post] do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :thumb %>
    <%= f.file_field :thumb, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.text_field :category_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.cktext_area :content, class: "form-control", cols: 100 %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary form-control" %>
  </div>
<% end %>
