<tr>
  <td><%= post.title %></td>
  <td><%= post.category.name %></td>
  <td><%= post.content.truncate Settings.default.admin.post.truncate %></td>
  <td><%= post.created_at %></td>
  <td>
    <%= link_to "edit", edit_admin_post_path(post), class: "btn btn-primary" %>
    <%= link_to "delete", admin_post_path(post), method: :delete, class: "btn btn-danger" %>
  </td>
</tr>
